<div class="contents row">
  <% @questions.each do |question| %>
    <div class="content_post">
      <div class="comments">
        <div class="comments_count">0</div>
        <div class="comments_comments">comments</div>
      </div>
      <div class="question_form">
        <div class="question_header">
          <div class="question_title"><%= question.title %></div>
          <div class="question_name"><%= question.name %></div>
        </div>
        <div class="question_text"><%= question.text %></div>
      </div>
    </div>
  <% end %>
</div>