/******************************************** 
 リセット用
*********************************************/
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f3;
  margin-top: 65px;
  padding-top: 90px;
}

header.header {
  padding: 0 20px;
  background-color: #1c3667;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 65px;
  
}

header.header div.header__bar.row {
  position: relative;
  
}

header.header div.header__bar.row h1.title {
  font-size: 23px;
  line-height: 65px;
  font-weight: 100;
  float: left;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.8px;
}

header.header div.header__bar.row h1.title a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}

header.header div.header__bar.row div.submit {
  float: right;
  line-height:65px;
}

header.header div.header__bar.row div.submit a.post {
 width:80px;
 height:32px;
 line-height:32px;
 text-align:center;
 display:inline-block;
 background:#ffffff;
 color:#3a3736;
 border-radius:5px;
 text-decoration:none;
}

header.header .user_nav {
  position: relative;
  height: 100px;
  right: 0;
}

.content_post {
 width:700px;
 margin: 0 auto;
 display: flex;
 margin-bottom: 25px;
}

.comments {
  width: 70px;
  height: 100px;
  background-color: #1c3667;
  border-radius: 5px 0 0 5px;
  text-align: center;
  padding: 20px 0 0 0;
}

.comments_count {
font-size: 26px;
color: #ffffff;
line-height: 38px;
}

.comments_comments {
font-size: 11px;
color: #ffffff;
line-height: 16px;
}

.question_form {
  width: 630px;
  height: 100px;
  background-color: #ffffff;
  padding: 10px 15px;
  
}
.question_header{
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}

.question_title {
  font-size: 14px;
  color: #000000;
  width: 500px;
}

.question_name{
font-size: 12px;
}

.question_text{
font-size: 12px;

}